__pycache__/
*.pyo
*.pyd
*.pyc
*.swp
venv/
env/
build/
dist/
.coverage
.DS_Store
.ipynb_checkpoints/
*.log
*.sqlite3
__init__.py
*.bak
data/
.tmp/
/config/
/results/
*.h5
*.onnx
*.pth
*.weights
artifacts/
artifacts_3_classes/
MP_Videos_All/
MP_Videos_All_annotated/
MP_Videos_All_annotated_hands_only/
MP_Videos_All_annotated_hands_only_3_classes/
MP_Videos_All_annotated_hands_only_6_classes/
MP_Videos_All_keyframes/
MP_Videos_All_keyframes_3_classes/
MP_Videos_All_keyframes_hands_only/
MP_Videos_All_keyframes_hands_only_3_classes/
MP_Videos_All_keyframes_hands_only_6_classes/